.encabezado-utpl{
	background: url(http://utpl.edu.ec/sites/all/themes/utpl/images/bg.jpg) repeat-x #EAE9E1;
	height: 108px;
	margin-bottom: 25px;
}



.nav-bar-mdf a:hover {
		color: white !important;
}

.prueba{
	margin-top: 7%;
}
