{%extends "index.html"%}

{%load static%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{%static 'dataTables/media/css/jquery.dataTables.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'dataTables/examples/resources/syntax/shCore.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'dataTables/examples/resources/demo.css'%}">
<style type="text/css" class="init">

</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="{%static 'dataTables/media/js/jquery.dataTables.js'%}">
</script>
<script type="text/javascript" language="javascript" src="{%static 'dataTables/examples/resources/syntax/shCore.js'%}">
</script>
<script type="text/javascript" language="javascript" src="{%static 'dataTables/examples/resources/demo.js'%}">
</script>
<script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
$('#example').DataTable( {
	"ajax": {
		//"url": "data/objects_root_array.txt",
		"url": "http://127.0.0.1:8000/bushisclidat",
		"dataSrc": ""
	},
	"columns": [
		{ "data": "his_codigo" },
		{ "data": "pac_cedula" },
		{ "data": "con_codigo" },
		{ "data": "his_fecha_creacion" },
		{ "data": "his_hora_creacion" }
	]
} );
} );

</script>

{% endblock %}

{%block dashboard%}

<!--/col-->
<div class="col-md-12">
		<div class="panel panel-default">
				<div class="panel-heading">
						<h4>Historias Clinicas</h4></div>
				<div class="panel-body">
					<table id="example" class="display" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>his_codigo</th>
								<th>pac_cedula</th>
								<th>con_codigo</th>
								<th>his_fecha_creacion</th>
								<th>his_hora_creacion</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>his_codigo</th>
								<th>pac_cedula</th>
								<th>con_codigo</th>
								<th>his_fecha_creacion</th>
								<th>his_hora_creacion</th>
							</tr>
						</tfoot>
					</table>
				</div>
		</div>
		<!--/panel-->

		<div class="panel panel-default">
				<div class="panel-heading">
						<div class="panel-title">
								<h4>Engagement</h4></div>
				</div>
				<div class="panel-body">
						<div class="col-xs-4 text-center"><img src="http://placehold.it/80/BBBBBB/FFF" class="img-circle img-responsive"></div>
						<div class="col-xs-4 text-center"><img src="http://placehold.it/80/EFEFEF/555" class="img-circle img-responsive"></div>
						<div class="col-xs-4 text-center"><img src="http://placehold.it/80/EEEEEE/222" class="img-circle img-responsive"></div>
				</div>
		</div>
		<!--/panel-->

</div>
<!--/col-span-6-->

{%endblock%}
