{%extends "index.html"%}

{%load static%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{%static 'dataTables/media/css/jquery.dataTables.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'dataTables/examples/resources/syntax/shCore.css'%}">
<!-- <link rel="stylesheet" type="text/css" href="{%static 'dataTables/examples/resources/demo.css'%}"> -->
<style type="text/css" class="init">

</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="{%static 'dataTables/media/js/jquery.dataTables.js'%}">
</script>
<script type="text/javascript" language="javascript" src="{%static 'dataTables/examples/resources/syntax/shCore.js'%}">
</script>
<script type="text/javascript" language="javascript" src="{%static 'dataTables/examples/resources/demo.js'%}">
</script>
<script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
	$('#example').DataTable( {
		"ajax": {
			//"url": "data/objects_root_array.txt",
			"url": "http://127.0.0.1:8000/bushisclidat",
			"dataSrc": ""
		},
		"columns": [
			{ "data": "his_codigo" },
			{ "data": "pac_cedula" },
			{ "data": "pac_cedula__pac_nombre" },
			{ "data": "con_codigo__con_nombre" },
			{ "data": "his_fecha_creacion" },
			{ "data": "his_hora_creacion" }
		]
	} );
} );

</script>

{% endblock %}

{%block dashboard%}

<!--/col-->
<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Listado de Historias Clinicas</h4></div>
			<div class="panel-body">

				<div class="table-responsive">
					<table id="example" class="table display" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>N° de Historia</th>
								<th>Cédula</br>Paciente</th>
								<th>Paciente</th>
								<th>Contacto</th>
								<th>Fecha de</br>Elaboración</th>
								<th>Hora de</br>Elaboración</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>N° de Historia</th>
								<th>Cédula</br>Paciente</th>
								<th>Paciente</th>
								<th>Contacto</th>
								<th>Fecha de</br>Elaboración</th>
								<th>Hora de</br>Elaboración</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<!--/panel-->

	</div>
	<!--/col-span-6-->

	{%endblock%}
