{%extends "index.html"%}

{%load static%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{%static 'dataTables/media/css/jquery.dataTables.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'dataTables/examples/resources/syntax/shCore.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'dataTables/examples/resources/demo.css'%}">
<style type="text/css" class="init">

</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="{%static 'dataTables/media/js/jquery.dataTables.js'%}">
</script>
<script type="text/javascript" language="javascript" src="{%static 'dataTables/examples/resources/syntax/shCore.js'%}">
</script>
<script type="text/javascript" language="javascript" src="{%static 'dataTables/examples/resources/demo.js'%}">
</script>
<script type="text/javascript" language="javascript" class="init">

	$(document).ready(function() {
		$('#example').DataTable( {
			"ajax": {
				//"url": "data/objects_root_array.txt",
				"url": "http://127.0.0.1:8000/buspacientedat",
				"dataSrc": ""
			},
			"columns": [
			{ "data": "pac_cedula" },
			{ "data": "tip_codigo__tip_nombre" },
			{ "data": "can_codigo__can_nombre" },
			{ "data": "par_codigo__par_nombre" },
			{ "data": "pac_codigo" },
			{ "data": "pac_nombre" },
			{ "data": "pac_fecha_nac" },
			{ "data": "sexo" },
			{ "data": "pac_direccion" },
			{ "data": "pac_telefono" }
			]
		} );
	} );

</script>

{% endblock %}

{%block dashboard%}

<!--/col-->
<div class="datos col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Listado de pacientes</h4></div>
			<div class="panel-body">
				<div class="table-responsive">
					<table id="example" class="table display" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Cédula</br>Paciente</th>
								<th>Tipo</br>Seguro</th>
								<th>Canton</th>
								<th>Parroquia</th>
								<th>Código</br>Paciente</th>
								<th>Nombre</br>Paciente</th>
								<th>Fecha</br>Nacimiento</th>
								<th>Género</th>
								<th>Dirección</th>
								<th>Teléfono</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Cédula</br>Paciente</th>
								<th>Tipo</br>Seguro</th>
								<th>Canton</th>
								<th>Parroquia</th>
								<th>Código</br>Paciente</th>
								<th>Nombre</br>Paciente</th>
								<th>Fecha</br>Nacimiento</th>
								<th>Género</th>
								<th>Dirección</th>
								<th>Teléfono</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<!--/panel-->

		</div>
		<!--/col-span-6-->

		{%endblock%}
