{%extends "index.html"%}

{%load static%}
{% block head %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
{% endblock %}

{%block ruta%}
<a href="/">Principal</a>
<i class="glyphicon glyphicon-chevron-right"></i>
<a href="/hisclidat">Listado de Historias Clínicas</a>
<i class="glyphicon glyphicon-chevron-right"></i>
<a href="/perfiles/{{per.his_codigo}}/">Historia Clínica</a>
{% endblock %}

{%block dashboard%}
{% for per in perfil %}
<center>

<img src="{%static 'img/perfil.png'%}" height="120px" width="120px" class="img-circle img-responsive">
<p>
	<span>{{per.pac_cedula__pac_nombre}}</span></br>
	<span>{{per.pac_cedula}}</span>
</p>


<table class="table table-striped" style="width:70%">
	<thead>
		<tr>
			<th colspan="4"><center>Historia Clinica</center></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Código Historia:</th>
			<td>
				<a href="/perfiles/{{per.his_codigo}}/">
					{{per.his_codigo}}
				</a>
			</td>
		</tr>
		<tr>
			<th scope="row">Fecha de nacimiento:</th>
			<td>{{per.pac_cedula__pac_fecha_nac}}</td>
		</tr>
		<tr>
			<th scope="row">Género:</th>
			<td>{{per.pac_cedula__sexo}}</td>
		</tr>
		<tr>
			<th scope="row">Provincia:</th>
			<td>
				<a href="/provinciaId/{{per.pac_cedula__can_codigo__pro_codigo}}/">
					{{per.pac_cedula__can_codigo__pro_codigo__pro_nombre}}
				</a>
			</td>
		</tr>
		<tr>
			<th scope="row">Cantón:</th>
			<td>
				<a href="/cantonId/{{per.pac_cedula__can_codigo}}/">
					{{per.pac_cedula__can_codigo__can_nombre}}
				</a>
			</td>
		</tr>
		<tr>
			<th scope="row">Dirección:</th>
			<td>{{per.pac_cedula__pac_direccion}}</td>
		</tr>
		<tr>
			<th scope="row">Teléfono:</th>
			<td>{{per.pac_cedula__pac_telefono}}</td>
		</tr>
		<tr>
			<th scope="row">Fecha de creación:</th>
			<td>{{per.his_fecha_creacion}}</td>
		</tr>
		<tr>
			<th scope="row">Hora de creación:</th>
			<td>{{per.his_hora_creacion}}</td>
		</tr>
		<tr>
			<th scope="row">Contacto emergencia:</th>
			<td>{{per.con_codigo__con_nombre}}</td>
		</tr>
		<tr>
			<th scope="row">Contacto Teléfono:</th>
			<td>{{per.con_codigo__con_telefono}}</td>
		</tr>
	</tbody>
</table>

</center>
{% endfor %}
{%endblock%}
