{%extends "index.html"%}

{%load static%}
{% block head %}

{% endblock %}

{%block dashboard%}
<center>

<img src="{%static 'img/perfil.png'%}" height="120px" width="120px" class="img-circle img-responsive">
<p>
	<span>Nombre</span></br>
	<span>cedula</span>
</p>


<table class="table table-striped" style="width:70%">
	<thead>
		<tr>
			<th colspan="4"><center>Historia Clinica</center></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Código Historia:</th>
			<td>Mark</td>
		</tr>
		<tr>
			<th scope="row">Fecha de nacimiento:</th>
			<td>Mark</td>
		</tr>
		<tr>
			<th scope="row">Género:</th>
			<td>Mark</td>
		</tr>
		<tr>
			<th scope="row">Dirección:</th>
			<td>Mark</td>
		</tr>
		<tr>
			<th scope="row">Teléfono:</th>
			<td>Mark</td>
		</tr>
		<tr>
			<th scope="row">Fecha de creación:</th>
			<td>Mark</td>
		</tr>
		<tr>
			<th scope="row">Hora de creación:</th>
			<td>Jacob</td>
		</tr>
		<tr>
			<th scope="row">Contacto emergencia:</th>
			<td>Larry</td>
		</tr>
		<tr>
			<th scope="row">Contacto Teléfono:</th>
			<td>Larry</td>
		</tr>
	</tbody>
</table>

</center>
{%endblock%}
